Source: ros-kilted-perception-pcl
Section: misc
Priority: optional
Maintainer: Paul Bovbel <paul@bovbel.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: http://ros.org/wiki/perception_pcl
Standards-Version: 3.9.2

Package: ros-kilted-perception-pcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-pcl-conversions, ros-kilted-pcl-msgs, ros-kilted-pcl-ros, ros-kilted-ros-workspace
Description: PCL (Point Cloud Library) ROS interface stack.
 PCL-ROS is the preferred bridge for 3D applications involving n-D Point Clouds and 3D geometry processing in ROS.
